* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70vmin;
    height: 70vmin;

    border-radius: 1vmin;
    box-shadow: 1vmin 4vmin 8vmin 0 rgba(0, 0, 0, 0.1);

    overflow: hidden;
    background: #272c34;
    color: #333;
}

.circle {
    width: 30vmin;
    height: 30vmin;

    border-radius: 50%;
    position: relative;

    overflow: hidden;
}

.sky {
	width: 100%;
	height: 100%;
	background: #7ddffc;

    position: absolute;
}

.sun {
    width: 5vmin;
    height: 5vmin;

    border-radius: 50%;
    background-color: #ffef00;

    position: absolute;
    top: 40%;
    left: -15%;

    box-shadow: 0 0 1vmin #ffee003a;

    transform-origin: 20vmin 14vmin;
    animation: sun-rotation 5s infinite;
}

.sand {
    width: 100%;
    height: 30%;

    position: absolute;
    bottom: 0;
    background-color: #f0de75;
}

.pyramid-left {
    width: 100%;
    height: 100%;
    background-color: #fff;

    clip-path: polygon(50% 50%, 0 100%, 75% 100%);
    position: absolute;
    top: -2.5vmin;

    animation: wall-shadow-right 5s infinite;
}

.pyramid-right {
    width: 100%;
    height: 100%;
    background-color: #ccc;

    position: absolute;
    top: -2.5vmin;
    clip-path: polygon(50% 50%, 100% 100%, 65% 100%);

    animation: wall-shadow-right 5s infinite;
}

.shadow {
    width: 16.9vmin;
    height: 10vmin;

    background-color: #000;
    opacity: 0.2;

    position: absolute;
    top: 70%;
    left: 21.9%;

    clip-path: polygon(0 0, 100% 0, 100% 30%);
    animation: shadow-animation 5s infinite;
}

.fade-in {
	animation: fade-in 5s infinite ;
} 
.fade-out {
	animation: fade-out 5s infinite;
}
/* .fade-out {
    width: 30vmin;
    height: 30vmin;
    background-color: #272c34;

    position: absolute;

    animation: fade-out 5s infinite;
} */

@keyframes shadow-animation {
    0% {
        opacity: 0;
        clip-path: polygon(0 0, 100% 0, 100% 10%);
    }

    50% {
        opacity: 0.2;
        clip-path: polygon(0 0, 100% 0, 100% 40%);
    }

    95% {
        opacity: 0.2;
        clip-path: polygon(0 0, 100% 0, 0% 15%);
    }

    98% {
        opacity: 0.2;
        clip-path: polygon(0 0, 100% 0, 0% 8%);
    }

    100% {
        opacity: 0.2;
        clip-path: polygon(0 0, 100% 0, 0% 5%);
    }
}

@keyframes sun-rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(120deg);
    }
}

@keyframes wall-shadow-left {}

@keyframes wall-shadow-right {}

/* @keyframes fade-out {
    0% {
        opacity: 0%;
    }

    60% {
        opacity: 5%;
    }

    70% {
        opacity: 70%;
    }

    80% {
        opacity: 95%;
    }

    90% {
        opacity: 98%;
    }

    100% {
        opacity: 100%;
    }
} */

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}